/*
 * Device Tree Source for the R-Car H3/M3 (R8A7796) SoC
 *
 * Copyright (C) 2023 EPAM Systems.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "gen3_common/r8a7795_r8a7796_common.dtsi"

/ {
	compatible = "renesas,r8a7796";
};

&cpg {
	compatible = "renesas,r8a7795-cpg-mssr";
};
