# Enable MMC driver
CONFIG_DISK_ACCESS=y
CONFIG_DISK_DRIVERS=y
CONFIG_MMC_RCAR=y
CONFIG_SDHC=y
CONFIG_MMC_RCA=1

# Enable clock control
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_RCAR_CPG_MSSR=y

CONFIG_PINCTRL=y
