# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

if SHIELD_RCAR_MMC_H3ULCB_XENVM

# Enable MMC driver
config DISK_ACCESS
	default y

config DISK_DRIVERS
	default y

config MMC_RCAR
	default y

config SDHC
	default y

config MMC_RCA
	default 1

# Enable clock control
config CLOCK_CONTROL
	default y

config CLOCK_CONTROL_RCAR_CPG_MSSR
	default y

config PINCTRL
	default y

endif # SHIELD_RCAR_MMC_H3ULCB_XENVM
